div.error-container(ng-messages="form[inputName].$error", ng-show="form.$submitted")
    label.error(ng-repeat="(key, value) in form[inputName].$error", ng-message-exp="key") {{ concatDefaultStringMsg(key) | translate}}
